<h1>Yummy Cocktails</h1>

<div class="container d-flex space-between">

<% @cocktails.each do |cocktail| %>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p><%= cl_image_tag cocktail.photo, height: 150, width: 200, crop: :fill %></p>
    <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
    <p class="card-text">A refereshing tipple</p>
  </div>
</div>

<% end %>

</div>

<h1><%= link_to "Add a new cocktail", new_cocktail_path %></h2>
