<h1>Yummy Cocktails</h1>

<% @cocktails.each do |cocktail| %>

<ul>
  <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
</ul>

<% end %>

<h2><%= link_to "Add a new cocktail", new_cocktail_path %></h2>
