<h1>Yummy Cocktails</h1>

<% @cocktails.each do |cocktail| %>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
    <p class="card-text">Get drunk quick</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<% end %>

<h2><%= link_to "Add a new cocktail", new_cocktail_path %></h2>
